body {
    font-family: "Caveat Brush", cursive;
    background: #b7b7a4;
    color: #fff;
    height: 100vh;
    margin: 0;
}

.logo img {
    max-width: 23%;
}

.logo {
    position: absolute;
    top: 4%;
    left: 2%;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    animation: fadeInAndMoveLeft 2s forwards;
}

.buttons-container {
    opacity: 0;
    animation: fadeInButtons 3s forwards;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    animation-delay: 2s;
}

.button {
    position: relative;
    margin: 50px 10px;
    padding: 8px 16px;
    background-color: #b7b7a4;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.5rem;
    overflow: hidden;
    transition: background-color 1s ease;
}

.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: width 0.3s ease;
}

.button:hover::before{
    transform: scaleX(1);
    width: 100%;
}

@keyframes fadeInAndMoveLeft {
    0% {
        transform: translateX(0);
        opacity: 0;
    }

    50% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(-70%);
        opacity: 1;
    }
}

@keyframes fadeInButtons {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}